﻿/* Make me pretty! */
body {
    font: 12px Ubuntu, Arial, sans-serif;
    margin: 20px;
}

body.noMargin {margin:10px; padding:0px;}

[schedid]{
    border-color:#333;
    border-radius:2px;
    border-style:none solid none solid;
    border-width:2px;
    box-sizing:border-box;
    background-color:red;
    float:left;
    height:73px;
    position:absolute;
    width:100px;
}

#apptDetails{
    display:block;
    margin:5px auto 0px auto;
    width:50px;
}

#details{
    display:none;
    height:50px;
    margin-top:10px;
}

#dateHolder{
    width:200px;
}

[id$='routeMap']{
    margin: 20px 0px 0px 0px;
}

#lockedAppt{
    top: 2px;
    right:2px;
    position:absolute;
}

input[type="checkbox"][id$='Locked']{
    margin:0px;
    width:34px; 
}

i#lockedAppt{
    font-size:15pt;
}

#map{
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    margin: 5px 0px 0px 0px;
    height:400px;
}

#timeline{
    background-color:#eee;
    border-color:#111;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    height:115px;
    margin:10px 0px 1px 0px;
    overflow:hidden;
}

[id$='prevDate'], [id$='nextDate']{
    vertical-align:central;
}

.apptEdited{
    opacity:0;
    display:none;
}

.clock-quarter{
    border-style:none solid none solid;
    border-width:1px;
    height:10px;
    margin:0 auto 0 auto;
    vertical-align:top;
    width:50%;
    z-index:10;
}

.clock-section:first-child{
    border-style:none;
}

.clock-section{
    border-style:none none none solid;
    border-color:#333;
    border-width:1px;
    float:left;
    text-align:center;
}

.travel{
    background-color:#ffd800;
    float:left;
    height:73px;
    position:absolute;
    top:0px;
}

.apptTime{
    color:#e8e8e8;
    text-align:center;
    text-shadow:1px 1px #111;
    margin:2px auto 0px auto;
    vertical-align:central;
    width:100%;
}

.CustomerName{
    color:#e8e8e8;
    text-align:center;
    text-shadow:1px 1px #111;
    margin:7px auto 0px auto;
    vertical-align:central;
    width:100%;
}

.pad-5 {padding:5px;}
.pad-10 {padding:10px;}
.pad-15 {padding:15px;}
.pad-20 {padding:20px;}
.pad-25 {padding:25px;}

#ReportList li {
    cursor: pointer;
}



.ruler, .ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
/* IE6-7 Fix */
.ruler, .ruler li {
    *display: inline;
}
.ruler {
    background: lightYellow;
    bottom: 0;
    box-shadow: 0 -1px 1em hsl(60, 60%, 84%) inset;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #777;
    margin: 0;
    height: 40px;
    position:absolute;
    white-space: nowrap;
}
.ruler li {
    padding-left: 1cm;
    width: 1em;
    margin: .64em 0 -.64em;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px hsl(60, 60%, 84%);
}
.ruler li:before {
    content: '';
    position: absolute;
    border-left: 1px solid #777;
    top: -.64em;
    right: 1em;
}

.ruler li:nth-child(4n):before {
    content: '';
    position: absolute;
    border-left: 2px solid #777;
    height: 1.64em;
    top: -.64em;
    right: 1em;
}

.ruler li:nth-child(4n + 2):before {
    content: '';
    position: absolute;
    border-left: 1px solid #777;
    height: 13px;
    top: -.64em;
    right: 1em;
}

.ruler li:nth-child(4n + 2){
    height:13px;
    vertical-align:top;
}

.ruler li:nth-child(4n + 1):before, .ruler li:nth-child(4n + 3):before {
    content: '';
    position: absolute;
    border-left: 1px solid #777;
    height: 10px;
    top: -.64em;
    right: 1em;
}

.ruler li:nth-child(4n + 1), .ruler li:nth-child(4n + 3){
    height:10px;
    vertical-align:top;
}

.ruler li:last-child:nth-child(4n){
    color:transparent;
}

#optimizeDay{
    display:none;
}

.tech-btn{
    margin-top:15px;
    margin-bottom:5px;
}

.tech-btns{
    margin-left:10px;
    margin-right:10px;
}

.reportTable{
    margin-top:5px;
    margin-bottom:5px;
}

.reportTable:nth-child(2n+1){
    background-color:#e5e5e5;
}

#ReportList li > a{
    text-decoration:none;
    color: #000;
    font-size: 12pt;
}

#totalTimes div, #totalTimes div h3{
    margin-top:3px;
    margin-bottom:0px;
}

.settingItem{
    color:#666;
    font-size:14pt;
    font-weight:bold;
    height:180px;
    text-align:center;
    text-decoration:none;
}

.reportParameters{
    display:none;
}

#note-panel{
    display:none;
}

#note-panel textarea{
    max-width:100%;
    min-height:200px;
}
